{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <h3 style="font-family:Times New Roman,Times,serif;">About Del Luna</h3>
        <br>
        <p style="color:GhostWhite;font-size:25px;">We are more than a laxury room!<br>
            Experience the difference</p>
    </div>
    <!-- bradcam_area_end -->-

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>Be Luxuries <br>
                                    in Nature</h3>
                        </div>
                        <p>A hotel where you can find the beauty of and love under the same roof. We believe good service is a good bussinss and we promise to give you a unique experience in your life</p>
                        <a href="#" class="line-button">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="{% static 'img/about/about_1.png' %}" alt="">
                        </div>
                        <div class="img_2">
                            <img src="{% static 'img/about/about_2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- about_info_area_start -->
    <div class="about_info_area">
        <div class="about_active owl-carousel">
            <div class="single_slider about_bg_1"></div>
            <div class="single_slider about_bg_1"></div>
            <div class="single_slider about_bg_1"></div>
            <div class="single_slider about_bg_1"></div>
        </div>
    </div>
    <!-- about_info_area_start -->

    <!-- about_main_info_start -->
    <div class="about_main_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="single_about_info">
                       <h3>We Serve Fresh and <br>
                            Delicious Food</h3>
                            <p>We see our customers as invited guests to a party, and we are the hosts. It's our job every day to make important aspect of the customer experience a little bit better. So del luna guarantee you the fresh and delicious food.
                                We give you an eating experience that you never forget! </p>
                    </div>
            </div>
        </div>
    </div>
    <!-- about_main_info_end -->

    <!-- forQuery_start -->
    <div class="forQuery">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="Query_border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="Query_text">
                                        <p>For Reservation 0r Query?</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="phone_num ">
                                    <button type="submit" class="btn btn-success ">+917559011660</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forQuery_end-->
{% endblock %}
 